@charset "UTF-8";

section{
   display:flex;
   align-items: center;
   justify-content: center;
   
   
   background-color: rgb(141, 89, 52);
   color:white;
   border-radius: 20px;
   
   
   width:100%;
   max-width:400px;
}
