@charset "UTF-8"; 

:root {
    --brown-light: #d6b89c;
    --brown: #a1744f;
    --brown-dark: #5c3a1e;
    --black-soft: #1e1b18;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    scroll-behavior: smooth;
}

body {
    background:linear-gradient(white 90%, rgb(250, 250, 250) 10%);
    color: var(--brown-dark);
}

header{
    display:flex;
    text-decoration: none;
    color: var(--brown-dark);
    font-weight: 500;  
    justify-content: space-between;
    padding: 26px 60px;
    background-color: #fff1e1;  


}



.nav-links {
        display: flex;
        gap: 2rem;
        list-style: none;
         
    }

    .nav-links a {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s;
        justify-self: right;
    }

    .nav-links a:hover {
        color:#1a0f0a;
   
    }

.botao-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
    cursor: pointer;
    justify-self: right;
 
    
}


/* as 3 barras em coluna que formam o icone do menu */
.botao-menu span {
    display: block;
    height: 3px;
    background-color: var(--brown-dark);
    border-radius: 2px;
    transition: all 0.3s ease;
    color: #fdfdfd;
}



/* Menu */
.menu ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0.12em;
    position: top right;
}

.menu ul li a {

    position: top right;
    color: var(--brown-dark);
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
}

/* aparencia do menu (navbar) ao passar o mouse por cima */
.menu ul li a:hover {
    color:#bb6a307c;
    border-radius: 8px;
        padding: 10px;
    transition-duration: 0.4s;
}



/*Responsividade do menu */
@media (max-width: 832px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 40px;
        right: 30px;
        background-color:#2c181088;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        width: 200px;
        transition: 0.3s ease-in-out;
        border-radius: 12px;
        padding:13px;
        margin-top: 1em;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.281);
      
    }


      .menu ul li a{
        color: rgb(255, 210, 168);
    }

    .menu ul li a:hover {
    color:rgb(255, 233, 213);
    border-radius: 8px;
        padding: 10px;
        border: 2px solid wheat;
    transition-duration: 0.2s;
}

    /* menu hamburguer com opcoes extendidas */
    .menu.ativo {
        display: flex;
        animation: deslizar 0.3s ease;
        
    }

    @keyframes deslizar {
        from { opacity: 0; transform: translateY(-10px); }
        to { opacity: 1; transform: translateY(0); }
    }

    .menu ul {
        flex-direction: column;
        gap: 15px;
          font-size: 20px;
          

       
    }

    .botao-menu {
        display: flex;
    }

    /* ao abrir o menu, a barra de cima e ultima formam uma animacao em x */
    .botao-menu.ativo span:nth-child(1) {
        transform: rotate(45deg) translateY(7px);
    }

    .botao-menu.ativo span:nth-child(2) {
        opacity: 0;
    }

    .botao-menu.ativo span:nth-child(3) {
        transform: rotate(-45deg) translateY(-7px);
    }
}



.logo-container {
  margin-left: -52px;
  margin-bottom: -90px;
  margin-top: -40px;
}

.logo{
 margin-bottom: -75px;
}
.hero {
    
     background-image: url('../ocafezinho/ocafezinho/header500.jpg');
     min-height: 100vh;
     width:100%;
     background-position: center center;
    background-size: cover; 
    background-repeat: no-repeat;
     display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.486) inset;
}


.hero-text {
        animation: fadeInUp ease 1s;
    max-width: 500px;
    color: var(--black-soft);
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 15px;
}

.hero p {
    margin-bottom: 25px;
}

.buttons {
    padding: 12px 22px;
    border-radius: 30px;
       text-decoration: none;
    font-size: 14px;
}

.order {

    background:var(--brown-dark);
    color: #fff;
    border-radius: 10px;
    padding:10px;
       text-decoration: none;
    
}

.order:hover{
      color: #f5eee6;
    background-color:#a1744f;
    padding: 12px;
    transition: all 0.15s ease-in-out;
    transform: translateY(-3px);
}

.map {
    border: none;
    border-radius: 10px;
    padding:10px;
    background-color:var(--black-soft);
    color: white;
    margin-left: 10px;
       text-decoration: none;

}

.map:hover{
      color: white;
    background-color:var(--brown);
    padding: 12px;
    transform: translateY(-3px);
   transition: all 0.15s ease-in-out;
}

.titulo{
    margin: 50px 0px 20px 0px;
    display: flex;
   justify-content: center;
   font-size: 33px;
     animation: fadeInUp 1s ease;
   
}

.producto {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        justify-content: space-around;
        padding: 0px 50px 0px 50px;
         justify-content: space-evenly;
        
       
        
    }

    .producto-card {
        background: #fff;
        border-radius: 15px;
        padding: 2rem;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.288);
        transition: transform 0.3s, box-shadow 0.3s;
        text-align: center;
       
        }

    .producto-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    }

    .producto-icon {
        font-size: 4rem;
        margin-bottom: 1rem;
        background-size: contain;

    }

  
    .producto-card h3 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        color: #6f4e37;
    }

    .producto-card p {
        color: #666;
        line-height: 1.6;
    }

    #image-cappuccino{

     
        border-radius: 60px inset;
        
    }

.show-menu {
    border-radius: 10px;
    background-color: rgb(156, 113, 57);
    text-decoration: none;
    display:flex;
    justify-content: center;
    margin: auto;
    padding: 5px;
    width:80px;

    }

.click-menu{
 color: #ffffff;
padding: 3px;
object-fit: contain ;
text-decoration: none;

      
}    
    
.show-menu:hover{
    background-color: rgb(202, 147, 75);
  transform: translateY(-3px);
   transition: transform 0.3s, box-shadow 0.3s; 
}


.about-us-container {
background-color:var(--black-soft);

    padding: 60px 20px;
    background-image: url('../ocafezinho/ocafezinho/about1440px.jpg');
    background-repeat: no-repeat;
    object-fit: cover;
    display:flex;
    flex-wrap: wrap;
    background-size: cover;



    
}

.about-title{
    text-align: center;
}
.about-us-content{
    background-color: rgba(99, 44, 0, 0.233);
    backdrop-filter: blur(9px);
 -webkit-backdrop-filter: blur(9px); /* compatibilidade com APPLE SAFARI*/
     margin: 40px 30px;
     line-height: 1.7;
     text-align: center; 
    color:white;
     justify-content: space-around;
     padding: 40px 20px;
     border-radius: 15px;
     box-shadow:1px  0px 11px rgba(0, 0, 0, 0.308);
     display: flex;
}


.read-more{    
     background: var(--brown);
    color: #fff;
    border-radius: 10px;
    padding:10px;
       text-decoration: none
}

.read-more:hover{
     color: #a1744f;
    background-color:#f5eee6 ;
    padding: 10px;
}

.socials{
   background-color:rgb(240, 218, 190);
    color:rgb(87, 72, 53);
    padding: 80px 60px;
    box-shadow:2px 1px 4px #00000081 inset;
   text-align: center;
   flex-direction: row;

   
}

.socials > h2{
margin-bottom: 30px;
}

.socials-container{
  display:inline-block;
  justify-content: center;
  background-color: var(--brown-light) ;
  border: 2px solid var(--brown-light);
  border-radius: 999px;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.349);
  padding: 2px;
  overflow:hidden;
}

#tiktok{
    margin-right: 10px;
}

.icons{
    padding-left:20px;
      transition: transform 0.3s;
       line-height: 1.5;
   
}

.icons:hover{
    transform:translateY(3px);
}

.locations-container{
        background: linear-gradient(120deg, #292119 0%, rgb(66, 43, 25) 100%);
    color:var(--brown-light);
    line-height: 1.5;
 
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.249);


}

#location-title{
    text-align: center;
   padding-top:30px;
   padding-bottom:-20px;

}

.iframe{
    margin-top: 20px;
    display: flex;
 justify-content: center;
}


.locations{
    justify-content: space-around;
    display: flex;
    flex-wrap:wrap;
    overflow: hidden;
    padding:50px 0px 80px 0px;

}

.city h3{
    text-align: center;
}

.city p{
    text-align: center;
}

@media (max-width: 700px) {
    .locations{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
justify-content: flex-start;
margin: auto;

    } 
}

.informacoes{
        padding: 20px;
    text-align: center;
    background: var(--black-soft);
    color: var(--brown-light);
    font-size: 12px;
    text-decoration: none;
}

.logo-pequeno{

    margin-bottom: 1px;
    background: var(--black-soft);
    justify-content: space-around;
    display: flex;

}
.container-informacoes{
   
    text-align: center;
    background: var(--black-soft);
    color: var(--brown-light);
    font-size: 14px;
    display:flex;
    align-items: left;
    flex-wrap: wrap;
    text-decoration: none;
    
}

.contactos{
 justify-content: left space-around;
    display: flex;
    flex-wrap:wrap;
    align-items: left;
    flex-direction: column;
    margin-right: 2em;
    text-align: left;
    text-decoration: none;
}

.extra-info{
    text-decoration: none;
    justify-content: center;
    display: flex;
    flex-wrap:wrap;
    align-items: left;
    flex-direction: column;
    text-align: left;
}


footer {
    padding: 20px;
    text-align: center;
    background: var(--black-soft);
    color: var(--brown-light);
    font-size: 12px;
}

.footer{
     margin-top: 40px;
}

 @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(30px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }




