@charset "UTF-8";


:root {
    --rosa-creme: #f6c1cc;
    --rosa-claro: #fde7ec;
    --rosa-forte: #e48ca3;
    --branco: #ffffff;
    --texto: #4a2c34;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--rosa-claro);
    color: var(--texto);
}

.botao-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25d366;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    z-index: 999;
    transition: transform 0.3s;
}

.botao-whatsapp:hover {
    transform: scale(1.1);
}


#cabecalho {
    height: 100vh;
    background: linear-gradient(180deg, var(--rosa-creme), var(--rosa-claro));
    background-image: url(media/fundo1.JPG);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.onda-topo {
    width: 100%;
    height: 140px;
    background: var(--branco);
    position: absolute;
}


.onda-topo {
    top: 0;
    background: var(--rosa-claro);
    border-radius: 0 0 100% 100%;
}

 
.gota {
    animation: derreter 7s ease-in-out infinite;
}

@keyframes derreter {
    0% { transform: translateY(0); }
    50% { transform: translateY(8px); }
    100% { transform: translateY(0); }
} 




.logo {
    display:flex;
    animation: wave 5s ease-in-out infinite;
}


@keyframes wave {
    0% { transform: translateY(0); }
    50% { transform: translateY(8px); }
    100% { transform: translateY(0); }
}

.slogan {
    margin: -81px 0 30px;
}

.wave-container-header svg {
  width: 100%;
  height: 250px;
  display: block;
}

#titulo{
    font-size:30px;
}

.botao-principal,
.botao-secundario {
    background: var(--rosa-forte);
    color: white;
    padding: 14px 28px;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s, box-shadow 0.3s;
}

.botao-principal:hover,
.botao-secundario:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}



.secao {
    padding: 50px 20px;
    text-align: center;
}

.pedidos h2{
    line-height: 1.5;
    font-size: 22px;
    padding-bottom: 10px;
}

.pedidos p{
    padding-bottom: 14px;
}

/* ================= SABORES ================= */

#sabores {
    background: white;
    position: relative;
    padding-top: 140px;
}

.lista-sabores {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    margin-top: 30px;
}

.cartao-sabor {
    background: var(--rosa-creme);
    border-radius: 25px;
    overflow: hidden;
    transition: transform 0.4s;
}

.cartao-sabor:hover {
    transform: translateY(-10px);
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.205);
    transition: 0.1s ease-in-out ;
}

.cartao-sabor img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.cartao-sabor h3 {
    padding: 20px;
}



footer {
    background: var(--rosa-creme);
    font-size: 14px;
    text-align: center;
    padding: 20px;
}

.socials-container{
  display:flex;
justify-content: center;
  padding: 2px;
  overflow:hidden;
  margin-bottom: 20px;
}
.icons{
    padding-left:20px;
      transition: transform 0.3s;
       line-height: 1.5;
   
}

.icons:hover{
    transform:translateY(3px);
}

/* efeito de fade in durante scrolling down no website */
.animar {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.3s, transform 0.7s;
}

.animar.visivel {
    opacity: 1;
    transform: translateY(0);
}



@media (min-width: 768px) {
    .logo {
        font-size: 4rem;
    }

    .lista-sabores {
        grid-template-columns: repeat(3, 1fr);
    }
}

